
<!DOCTYPE html>
<html lang="en">

    <%- include ('partials/head.ejs'); -%>

	<style>
		
		img{
			width:300px;
			height:300px;
		}
		.image{
			padding-left: 30%;
			padding-top: 5%;
			

			
		}
		.button{
			z-index: 2;
		}
		.btn{
			margin-left:23%;
			margin-top:5%;
		}
		
	</style>
<body>
	<header id="s-header">
		
			<div class=" image container px-100">
				<a class="navbar-brand" href="/">
		    	<img src="/img/logo.png" alt="Logotype" >
			  </a>
				</div>
		
	
				<div class=" btn col-6">
					<a href="/login" class="btn-custom">Login</a>
				</div>
				
	</header>

</body>
</html>
